img{
    display:block;
    width:25%;
    margin:auto;
}

nav{
    text-align: center;
}

h1{
    text-align: center;
}
div{
    width: 50%;
    margin:auto;
    text-align: center;
}
body{
    background-color:bisque;
}
#Greeting{
    color: green;
}
form{
    width:50%;
    margin: auto;
    text-align: center;
}
footer{
    text-align: center;
}